
<app-logout></app-logout>

<section class="book-section">

  <div class="search-container">
    <div class="search-fields">
      <input [(ngModel)]="searchCriteria.titulo" placeholder="Buscar por título" class="search-bar" />
      <input [(ngModel)]="searchCriteria.editorial" placeholder="Buscar por editorial" class="search-bar" />
      <input [(ngModel)]="searchCriteria.isbn" placeholder="Buscar por ISBN" class="search-bar" />
    </div>
    
    <button (click)="onSearchClick()" class="search-button">Buscar</button>
  </div>
    <div class="header">
        <h1>Libros Disponibles</h1>
      </div>
      

      
      <div class="book-list">
        <div class="book-card" *ngFor="let book of arrayLibros" (click)="viewBookDetails(book.id_libro)">
          <img src="defaultBook.jpg" alt="Book image" class="book-cover">
          <div class="book-info">
            <h2>{{book.titulo}}</h2>
            <p>Editorial: {{book.editorial}}</p>
            <p>Autor: {{book.autor}}</p>
          </div>
        </div>
      </div>
      
      <!-- Paginación -->
      <div class="pagination-controls">
        <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{currentPage}} de {{totalPages}}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
      </div>
      
    
</section>
<app-nav></app-nav>