// export PORT = 4567
// export DATABASE_PATH = ruta a la base de datos/DB/
// export DATABASE_NAME =  nombre_de_la_base.db
// export JWT_SECRET_KEY = 'clave-secreta-de-la-app'
// export JWT_ACCESS_TOKEN_EXPIRES = 3600
// export MAIL_SERVER = 'smtp.gmail.com'
// export MAIL_PORT = '587'
// export MAIL_USE_TLS = 'True'
// export MAIL_USERNAME = 'name@mail.com'
// export MAIL_PASSWORD = 'pass'
// export FLASKY_MAIL_SENDER = 'App Name Admin <admin@appname.com>'