
<div class="search-container">
  <div class="search-fields">
    <input [(ngModel)]="searchCriteria.titulo" placeholder="Buscar por título" class="search-bar" />
    <input [(ngModel)]="searchCriteria.editorial" placeholder="Buscar por editorial" class="search-bar" />
    <input [(ngModel)]="searchCriteria.isbn" placeholder="Buscar por ISBN" class="search-bar" />
  </div>
  <button (click)="onSearchClick()" class="search-button">Buscar</button>
</div>


<div class="header">
    <app-go-back></app-go-back>
    <h1>Libros</h1>
    <button class="add-book-btn" (click)="navigateToAddBook()">Agregar Libro</button>
  </div>
  
  <div class="book-list">
    <div class="book-card" *ngFor="let book of arrayLibros">
      <img src="defaultBook.jpg" alt="Book image" class="book-cover">
      <div class="book-info">
        <h2>{{book.titulo}}</h2>
        <p>Editorial: {{book.editorial}}</p>
      </div>
      <div class="actions">
        <a [routerLink]="['/edit-book', book.id_libro]">
          <button class="edit-btn">✏️</button>
        </a>
        <button class="delete-btn" (click)="deleteBook(book.id_libro)">🗑️</button>
      </div>
    </div>
  </div>
  
  <!-- Controles de paginación -->
  <div class="pagination-controls">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Anterior</button>
    <span>Página {{currentPage}} de {{totalPages}}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Siguiente</button>
  </div>
  