<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar un Libro</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Agregar un Libro</h1>
        </div>
        <app-go-back></app-go-back>
        
        <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="addBookForm">
            <input type="text" placeholder="Título" class="input-field" formControlName="titulo">
            <input type="text" placeholder="Autor" class="input-field" formControlName="autor">
            <input type="text" placeholder="Editorial" class="input-field" formControlName="editorial">
            <input type="text" placeholder="ISBN" class="input-field" formControlName="isbn">
            <input type="text" placeholder="Género" class="input-field" formControlName="genero">
            <input type="date" placeholder="Fecha de Publicación" class="input-field" formControlName="fecha_publicacion">
            <input type="number" placeholder="Número de Páginas" class="input-field" formControlName="num_paginas">
            <input type="number" placeholder="Cantidad Disponibles" class="input-field" formControlName="disponibles">
            

            <button type="submit" class="confirm-btn">Confirmar</button>
        </form>
    </div>
</body>
