<body>
  <app-go-back></app-go-back>
  <div id="contenedor">
    <div id="central">
      <div id="login">
        <div class="titulo">Crear Cuenta</div>
        <form id="registroform" (submit)="onRegister($event)">
          <!-- Campo de nombre -->
          <input
            type="text"
            name="nombre"
            placeholder="Nombre"
            [(ngModel)]="nombre"
            required
          />

          <!-- Campo de correo -->
          <input
            type="email"
            name="mail"
            placeholder="Correo Electrónico"
            [(ngModel)]="mail"
            required
          />

          <!-- Campo de contraseña -->
          <input
            type="password"
            name="contrasena"
            placeholder="Contraseña"
            [(ngModel)]="contrasena"
            required
          />

          <!-- Botón de registro deshabilitado si los campos no están completos -->
          <button
            type="submit"
            title="Registrarse"
            name="Registrarse"
            [disabled]="!nombre || !mail || !contrasena"
          >
            Registrarse
          </button>
        </form>

        <div class="pie-form">
          <a routerLink="/admin">¿Ya tienes cuenta? Inicia sesión</a>
        </div>
      </div>
    </div>
  </div>
</body>
