<div class="loan-details-container">
    <h2>Detalles del Préstamo</h2>
  
    <!-- Detalles del préstamo -->
    <div class="loan-info">
      <p><strong>Préstamo ID:</strong> {{ loan?.id_prestamo }}</p>
      <p><strong>Fecha de Préstamo:</strong> {{ loan?.fecha_prestamo | date }}</p>
      <p><strong>Fecha de Devolución:</strong> {{ loan?.fecha_devolucion | date }}</p>
    </div>
  
    <h3>Libros Asociados al Préstamo</h3>
  
    <!-- Libros asociados -->
    <div *ngIf="associatedBook && associatedBook.length > 0; else noBooks">
      <div *ngFor="let book of associatedBook" class="book-details">
        <h4>{{ book.titulo }}</h4>
        <p><strong>Editorial:</strong> {{ book.editorial }}</p>
        <p><strong>Fecha de Publicación:</strong> {{ book.fecha_publicacion | date }}</p>
        <p><strong>Número de Páginas:</strong> {{ book.num_paginas }}</p>
        <p><strong>ISBN:</strong> {{ book.isbn }}</p>
        <p><strong>Género:</strong> {{ book.genero }}</p>
      </div>
    </div>
  
    <!-- Mensaje si no hay libros asociados -->
    <ng-template #noBooks>
      <p>No hay libros asociados a este préstamo.</p>
    </ng-template>
  </div>
  