<div class="search-container">
    <div class="search-container">
        <div class="search-fields">
          <input [(ngModel)]="searchCriteria.titulo" placeholder="Buscar por título" class="search-bar" />
          <input [(ngModel)]="searchCriteria.editorial" placeholder="Buscar por editorial" class="search-bar" />
          <input [(ngModel)]="searchCriteria.isbn" placeholder="Buscar por ISBN" class="search-bar" />
        </div>
        <button (click)="onSearchClick()" class="search-button">Buscar</button>
      </div>
 
   
</div>
