/* Contenedor general del detalle del libro */
.book-detail-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    text-align: center;
}

/* Imagen de portada */
.book-cover {
    width: 100%;
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Encabezado del título */
.book-detail-container h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

/* Estilos para los detalles del libro */
.book-detail-container p {
    font-size: 1.1rem;
    color: #555;
    margin: 10px 0;
}

.book-detail-container p strong {
    color: #333;
}

/* Botón de solicitar préstamo */
.request-loan-button {
    display: inline-block;
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background-color: #8d4b47;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.request-loan-button:hover {
    background-color: #633431;
}

/* Responsivo */
@media (max-width: 600px) {
    .book-detail-container {
        padding: 15px;
    }

    .book-detail-container h1 {
        font-size: 1.8rem;
    }

    .request-loan-button {
        font-size: 1rem;
        padding: 12px;
    }
}

.header {
    text-align: center;
    background-color: #8d4b47   ;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
  }

 


button {
  display: block;
  width: 100%;
  max-width: 300px;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.view-reviews-button {
  background-color: #745c47;
  color: white;
}

.view-reviews-button:hover {
  background-color: #665445;
}
