<app-go-back></app-go-back>

<div class="profile-edit-container">
  <div class="profile-card">
    <div class="profile-image">
      <img src="users.jpg" alt="Profile Image">
      <span class="edit-icon">✏️</span>
    </div>
    <h2>Edit Profile</h2>
  </div>

  <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="nombre">Nombre</label>
      <input id="nombre" formControlName="nombre" type="text">
    </div>
  
    <div>
      <label for="mail">Email</label>
      <input id="mail" formControlName="mail" type="email">
    </div>
  
    <div>
      <label for="rol">Rol</label>
      <select id="rol" formControlName="rol">
        <option *ngIf="!isLibrarian" value="admin">Admin</option>
        <option *ngIf="!isLibrarian" value="librarian">Librarian</option>
        <option value="user">User</option>
        <option value="pending">Pending</option>
      </select>
      <p *ngIf="isLibrarian && currentRole !== 'pending'" class="error-message">
      </p>
    </div>
  
    <button type="submit" [disabled]="editForm.invalid" class="save-btn">Actualizar Perfil</button>
  </form>
  
</div>
